.Post {
     width: 500px;
     height: 770px;
     background-color: rgb(255,209,50);
     text-align: center;
     border: 3px solid #4BFFDF;
     margin: 15px;
     border-radius: 10px;
     box-shadow: 5px 5px rgb(35,178,153,0.2);
}

.Post-header {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     width: 100%;
     height: 75px;
     background-color: rgb(75, 255, 223);
}

.author-name {
     font-size: 1em;
     font-weight: bold;
}

.profile-picture {
     width: 50px;
     height: 50px;
     border: 2px solid black;
     border-radius: 50%;
     margin: 10px;
}

.filters-container {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     height: 40px;
     width: 100%;
}

#filters-label {
     margin: 10px;
}

.filter-swatch {
     height: 30px;
     width: 30px;
     border: 0.5px solid #4BFFDF;
     border-radius: 50%;
     margin: 5px;
}

.filter-swatch#red {
     background-color: red;
}

.filter-swatch#orange {
     background-color: orange;
}

.filter-swatch#yellow {
     background-color: yellow;
}

.filter-swatch#green {
     background-color: green;
}

.filter-swatch#blue {
     background-color: blue;
}

.filter-swatch#indigo {
     background-color: indigo;
}

.filter-swatch#violet {
     background-color: violet;
}

.filter-swatch#black-white {
     background: linear-gradient(90deg, black 50%, white 50%);
}

.filter-swatch#none {
     display: flex;
     flex-direction: column;
     background-color: none;
     color: red;
     text-align: center;
     justify-content: center;
}

.filter-swatch#none p {
     margin: 0px;
}

.picture-filter-container {
     position: relative;
     width: 100%;
     height: 500px;
}

.picture-container {
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     width: 100%;
     height: 100%;
}

.picture-image {
     width: 100%;
     height: 500px;
     object-fit: cover;
}

.picture-container#red {
     background: linear-gradient(45deg, rgba(0,0,0,0.6) 40%, rgba(255,0,0,0.6));
}

.picture-container#orange {
     background: linear-gradient(45deg, rgba(0,0,0,0.6) 40%, rgba(255,100,0,0.6));
}

.picture-container#yellow {
     background: linear-gradient(45deg, rgba(0,0,0,0.6) 40%, rgba(255,247,50,0.6));
}

.picture-container#green {
     background: linear-gradient(45deg, rgba(0,0,0,0.6) 40%, rgba(40,178,0,0.6));
}

.picture-container#blue {
     background: linear-gradient(45deg, rgba(0,0,0,0.6) 40%, rgba(0,69,138,0.6));
}

.picture-container#indigo {
     background: linear-gradient(45deg, rgba(0,0,0,0.6) 40%, rgba(31,0,97,0.6));
}

.picture-container#violet {
     background: linear-gradient(45deg, rgba(0,0,0,0.6) 40%, rgba(139,1,129,0.6));
}

.picture-image#black-white {
     -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
     filter: grayscale(100%);
}

.captions-actions-container {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     width: 100%;
     height: 50px;
     background-color: inherit;
     border-bottom: 1px solid grey;
}

.caption-container {
     padding: 10px;
}

.actions-container {
     width: 200px;
     margin-left: 10px;
     margin-right: 10px;
     height: inherit;
     display: flex;
     flex-direction: row;
     justify-content: flex-end;
     align-items: center;
}

.button-data-container {
     display: flex;
     flex-direction: row;
     justify-content: flex-end;
     align-items: center;
     height: inherit;
     width: 75px;
}

.button-data-container p.label{
     margin-left: 5px;
}

#like-button {
     height: 30px;
     width: 30px;
     border-radius: 50%;
     margin: 0px;
     opacity: 0.5;
}

#liked-button {
     height: 30px;
     width: 30px;
     border-radius: 50%;
     margin: 0px;
}

#cheese-button {
     height: 30px;
     width: 30px;
     border-radius: 50%;
     margin: 0px;
}

p {
     margin: 0;
}

.comments-container {
     margin-top: 10px;
}
