.Post {
     width: 500px;
     height: 700px;
     background-color: red;
     text-align: center;
}

.Post-header {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     width: inherit;
     height: 75px;
     background-color: purple;
}

.author-name {
     font-size: 1em;
     font-weight: bold;
}

.profile-picture {
     width: 50px;
     height: 50px;
     border: 2px solid black;
     border-radius: 50%;
     margin: 10px;
}

.picture-container {
     width: inherit;
     height: 500px;
     background-color: green;
}

.picture-image {
     width: inherit;
     height: inherit;
}

.captions-actions-container {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     width: inherit;
     height: 50px;
     background-color: orange;
}

.caption-container {
     padding: 10px;
}

.actions-container {
     width: 100px;
     height: inherit;
     display: flex;
     flex-direction: row;
     justify-content: center;
}

p {
     margin: 0;
}
